body {
    background-color: rgb(173, 195, 196);
}

h1 {
    color:aqua
}

h2 {
color: rgb(113, 174, 28);
}

.box{
    color: rgb(19, 19, 3);
   background-color: rgb(127, 197, 241);
   width: 400px;
   height: 400px;
   overflow: auto;
   padding: 30px 60px;
   border: 10px solid rgb(21, 74, 78);
 
   margin: 10px auto;
   box-sizing: border-box;
   position:relative;
   top: 50px;
right: 20px;


}

.inside-box1{
    color: rgb(19, 19, 3);
   background-color: rgb(85, 213, 50);
width: 100px;
height: 100px;
overflow: auto;
position:absolute;

top: 40px;
left: 35px;

}

.inside-box2{
    color: rgb(85, 213, 50);
   background-color: rgb(1, 3, 0);
width: 100px;
height: 100px;
overflow: auto;
position:fixed;

top: 40px;
right: 35px;

}